/*  ===========================
    Colors
    ===========================
*/
:root {
  --default: #e0494e;
  --default2: #e61616;
  --blue: #2d84fb;
  --blue2: #2706df;
  --lightGreen: #67c56e;
  --lightGreen2: #08aa12;
  --yellow: #f89d36;
  --yellow2: #db7807;
  --purple: #662e9b;
  --purple2: #4c0094;
  --black1: #212529;
  --black2: #3c4858;
  --grey: #8492a6;
  /* --backgroundColor: #f9fafd; */
  --backgroundColor: #eaedf2;
  --white: #fff;
}

/* ====================
    Reset
   ====================
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
input,
textarea {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--black1);
  background-color: var(--white);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 996px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

/*  ===========================
    Header
    ===========================
*/
.header{
    position: relative;
    height: calc(100vh + 8rem);
    background-image: linear-gradient(
        115deg, 
        var(--backgroundColor) 0%,
        var(--backgroundColor) 57%,
        var(--default) 57%
    
    );
}

/*  ===========================
    Navigation
    ===========================
*/

.social__menu li svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--black2);
}

.hamburger{
    display: none;
}

.navigation{
    padding: 1.6rem 1rem;
    position: relative;
    z-index: 1999;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.fix__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    z-index: 9990;
}



.fix__nav .social__menu li svg{
    fill: var(--black2);
    transition: all 0.3s ease-in-out;
}

.fix__nav .social__menu li{
    border-color: var(--black2);
}

.fix__nav .social__menu li:hover{
    border-color: var(--default);
    background-color: var(--default);
}

.fix__nav .social__menu li svg:hover{
    fill: var(--backgroundColor);
}


.logo{
    cursor: pointer;
}
.logo h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--default);
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 70%;
}

.nav__list,
.social__menu{
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav__link:link,
.nav__link:visited{
    padding: 1rem;
    color: var(--black2);
    font-size: 1.4rem;
    text-transform: uppercase;
}
 
.nav__link:hover{
  color: var(--default);
}

.social__menu li{
  border: 0.7px solid var(--backgroundColor);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.social__menu li:hover{
  /* border-color: var(--default); */
  background-color: #fff;
  border: 7px solid var(--blue);
}

.social__menu li:hover svg{
  fill: var(--blue);
}

.social__menu li svg{
  fill: var(--backgroundColor);
}

.social__menu li a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__menu li:not(:last-child){
  margin-right: 1rem;
}

/*  ===========================
    Navigation Menu Queries
    ===========================
*/

@media only screen and (max-width:1200px) {
  .nav__menu{
    width: 80%;

  }
}


@media only screen and (max-width:996px) {
  .navigation{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: var(--white);
  }

  .nav{
    display: block;
  }
  .nav__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }


}






/* .banner{
  image: url('./img2/1.jpg');
} */





/*  ===========================
    Colors
    ===========================
*/
